<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Objects</th>
      <th>Nuber of contacts</th>
      
      
  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>

        <td><%= city.name %></td>

        <td><%= city.contacts.count %></td>
        <td><%= city.contacts.sum(:number) %></td>
        
        
      
      
      
        
       
 
      </tr>
    <% end %>
  </tbody>
</table>
